body {
    margin: 0;
    font-family: 'Roboto';
}

#heading {
    display: flex;
    align-items: center;
    box-shadow: 0 4px 4px 0px rgb(0 0 0 / 10%);
    color: #808080;
}

#heading h3 {
    margin: 10px 20px;
    color: black;
    margin-left: 10px;
}

.container {
    padding: 30px;
    padding-bottom: 0;
}

.container.processing{
    opacity: 0.5;
    pointer-events: none;
}

#file-upload-area {
    font-size: 0.9em;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#file-upload {
    padding: 7.5px 15px;
    background-color: black;
    color: white;
    font-family: 'Roboto';
    font-size: 1em;
    cursor: pointer;
}

#file-upload-label {
    margin: 0 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    direction: rtl;
}

.grey-label {
    color: #adadad;
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: 800;
}

.select-options {
    display: flex;
    justify-content: space-evenly;
    background-color: #ededed;
    border-radius: 5px;
    overflow: hidden;
}

.select-options .select-option {
    flex: 1;
    text-align: center;
    padding: 10px 0px;
    cursor: pointer;
    color: #808080;
}

.select-options .select-option h4 {
    margin: 0;
    font-size: 0.9em
}

.select-options .select-option:hover {
    background-color: #2D8CFF;
    color: white;
}

.select-options .select-option:active {
    background-color: #167dfa;
}

.select-options .select-option.selected-option {
    background-color: #2D8CFF;
    color: #ededed !important;
}

#advanced-options-toggle {
    cursor: pointer;
    text-decoration: underline;
    user-select: none;
}

#advanced-options-toggle:hover {
    text-decoration: none;
}

#advanced-options-toggle .icon {
    vertical-align: middle;
    font-size: 1em;
    font-weight: 800;
}

#advanced-options {
    display: none;
}

#advanced-options .advanced-option{
    display: table-row;
}

#advanced-options .advanced-option .advanced-option-value{
    margin-left: 30px;
}

#advanced-options .advanced-option label, #advanced-options .advanced-option .advanced-option-value{
    display: table-cell;
}
#advanced-options .advanced-option label{
    font-size: 0.9em;
    color: #808080;
    padding-bottom: 10px;
}

#method-options .method-option {
    display: none;
}

#method-options .method-option label .icon{
    font-size: inherit;
    margin-left: 5px;
}

#method-options label {
    user-select: none;
    font-size: 0.9em;
    display: flex;
    align-items: center;
    color: #808080;
}

#method-options label input {
    margin-right: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

.final-action {
    padding: 10px 15px;
    background-color: black;
    color: white;
    font-family: 'Roboto';
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
    border-radius: 5px;
    font-weight: 800;
    font-size: 0.9em;
}

#passkey {
    width: 100%;
    font-size: 0.9em;
    border: 1px solid black;
    border-radius: 5px;
    padding: 7.5px 15px;
    padding-right: 30px;
    box-sizing: border-box;
}

input{
    outline: none;
}

input:focus {
    border-color: #2D8CFF !important;
}

#passkey-container {
    position: relative;
}

#passkey-visibility-toggle {
    user-select: none;
    color: #808080;
    color: #adadad;
    position: absolute;
    font-size: 1em;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

#progress-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: none;
}

#progress-bar-container {
    width: 100%;
    height: 10px;
    background-color: #bbdaff;
    display: none;
}

#progress-container #progress-bar {
    height: 10px;
    background-color: #2D8CFF;
}

#progress-container #progress-label{
    text-align: center;
    font-style: italic;
}

#about{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 0.8em;
    text-decoration: underline;
    cursor: pointer;
}

#about:hover{
    text-decoration: none;
}

#logo{
    height: 30px;
    margin-left: 10px;
}