body {
    margin: 0;
    font-family: 'Roboto';
}

#heading {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    color: #808080;
}

#heading h3 {
    margin: 10px 20px;
    color: black;
}

.container{
    padding: 30px;
    padding-bottom: 0;
}

#file-upload-area {
    font-size: 0.9em;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#file-upload {
    padding: 7.5px 15px;
    background-color: black;
    color: white;
    font-family: 'Roboto';
    font-size: 1em;
    cursor: pointer;
}

#file-upload-label {
    margin: 0 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    direction: rtl;
}

.grey-label{
    color: #adadad;
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: 800;
}

#encryption-strength-description{
    display: none;
}

#encryption-strength-container{
    display: flex;
    justify-content: space-evenly;
    background-color: #ededed;
    border-radius: 5px;
    overflow: hidden;
}


#encryption-strength-container .encryption-strength-option{
    flex: 1;
    text-align: center;
    padding: 10px 0px;
    cursor: pointer;
    color: #808080;
}

#encryption-strength-container .encryption-strength-option h4{
    margin:0;
    font-size: 0.9em
}

#encryption-strength-container .encryption-strength-option:hover{
    background-color: #2D8CFF;
    color: white;
}

#encryption-strength-container .encryption-strength-option:active{
    background-color: #167dfa;
}

#encryption-strength-container .encryption-strength-option.selected-strength{
    background-color: #2D8CFF;
    color: #ededed;
}

#advanced-options-toggle{
    cursor: pointer;
    padding-bottom: 5px;
    border-bottom: 1px solid grey;
}