body {
    margin: 0;
    user-select: none;
    font-family: 'Roboto'
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.container img {
    height: 100px;
}

#version{
    color: grey;
    font-size: 0.9em;
    position: absolute;
    bottom: 20px;
    right: 40px;
}